.clock {
    width: 300px;
    height: 300px;
    z-index: 1;
    margin: 5px 20px;
}

.clock_arrow-big, .clock_arrow-small, .clock_line-dash  {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    transform-origin: bottom;
    z-index: 2;
    border-radius: 2em;
}

.clocks {
    margin: 50px 20px;
    display: flex;
}

.clock_dial {
    position: absolute;
}

.clock_cross {
    position: absolute;
    top: 0px;
    right: -5px;
}

.clock_dial-div {
    position: relative;  
}

.input-bar {
    margin: 20px 20px;
    display: flex;
}

.input-name, .input-zone {
    margin: 0px 20px;
}

label, input {
    display: block;
}

label {
    margin: 5px 0px;
}

button {
    display: flex;
    align-items: center;
}